@charset "UTF-8";

@media (max-width:970px) {

.imagem {
    display: none;
}
.img21 {
    display: block;
        margin-top: 120px;
        width: 96vw;
        height: 25vh;
}
#Menu ul, li {
    display: none;
}
}