@charset "UTF-8";

@media (max-width:970px) {

.atend {
    display: flex;
    justify-content: space-between;
}
.redes2  {
     display: none;
     flex-wrap: wrap;
}

.imagem {
    display: none;
}
.img21 {
    display: block;
        margin-top: 120px;
        width: 96vw;
        height: 25vh;
}
#Menu ul, li {
    display: none;
}

section.logo {
    background-color: white;
}

.lg {
    display: none;
}
#mee1 li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    background-color: black;
}
#mee1 {
    margin: 0px 0px 0px 60vw;
   background-color: black;
}

#mee {
    
    width: 38px;
    
    cursor: pointer;
}

.busca {

    display: a;
    display:none;
    margin-top: 20vh;
}

.busca{
   text-align: center;
    margin-top:-49px;  

}
.active{
    display: block !important;
}

div.contato{
    display: inline;
    flex-wrap: wrap;
}
.contato2{
    display: block;
    margin-left: 30px;
}

.direitos {
    display:block;
    text-align: center;
}

.contato ul {
    text-align: center;
    margin-top: -60px;
}
.f2 {
    display: none;
}
.f1 {
    text-align: center;
}
.buscar {
    display: flex;
    flex-wrap: nowrap;
}
#butao2 {
    width: 40%;
   padding: 2vh 20vw 2vh 20vw;
    color: black;
    background-color: rgb(255, 255, 255);
    
}
.pesquisar {
    
    cursor: pointer;
    padding: 1.99vh 1vw;
    margin: 0px 0px 0px -2px;
}
}