@charset "UTF-8";
                /* GERAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

header {
grid-area: header;
}

main {
background: rgb(114, 87, 87);
grid-area: main;

background-image:url(../imagens/pexels-phil-desforges-3335697.jpg);
background-repeat:no-repeat;
background-color: transparent;
background-position: center center;
background-size:cover;

}

footer {
background: rgb(112, 112, 112);
grid-area: footer;
}


                /* redes socias */
div.redes {   
display: flex;
justify-content: space-around;
background-color:white;
}
.redes2 ul {
    background-color: white;
    margin: 0px;
}
.redes2 li{
    display: inline-block;  
    padding: 5px 5px 0px 5px;
    transition: 1s;
}
.redes2 li:hover {  
    cursor: pointer;
}
.face:hover{
    background-color:#3b5998;
}
.insta:hover{
    background-color: rgb(219, 155, 219);
}
.tw:hover {
    background-color:  #00acee;
}
.youtube:hover {
    background-color: #c4302b;
}

            /*atendimentos e minha conta */
.atend {
   margin: 0px;
}
.atend li{
    display: inline-block;
    padding: 10px 15px 4px 10px;
    transition: 0.7s;
}
.ut:hover { 
    cursor: pointer;
    color:rgb(255, 0, 0);
    background-color: white;
}
.fala:hover { 
    cursor: pointer;
    color:rgb(255, 0, 0);
    background-color: white;
}
.tudo {
    position: fixed;
}

            /* logo e botão é isso*/
section.logo {
    width: 99vw;
    height: 7vh;
    background-color: rgb(31, 31, 31);
}

.logo .lg {
    width: 80px;
    padding-top: 10px;
    padding-left: 15vw;
    border-radius: 10px 10px 10px 10px;
}
.busca{
   text-align: center;
    margin-top:-50px;  
}
#campo_busca{
    width: 40vw;
    height: 40px;
    border-radius: 5px 0px 0px 5px; 
    color:#252525;
}
.buscar_produto {
    width: 60px;
    height: 40px;
    margin: 0px 0px 0px -50px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid white;
}
.buscar_produto:hover {
    cursor: pointer;
    color: white;
    background-color: #252525;
}
.buscar {
    display: none;
}

#mee1 {
    display: none;
}

                /*Menu*/
#Menu {
    margin-top: 6px;
    list-style: none;
}
#Menu ul {
    text-align: center;
    background-color: rgba(58, 57, 57, 0.692);
}
#Menu li {
    color: white;
    margin: 0px;
    display: inline-block;
    padding:16px 40px;
    transition: 0.7s;
    text-transform: uppercase;
    cursor: pointer;
}
a:link {
    text-decoration: none;
}
.hre {
    color: white;
    list-style: none;
}
#Menu li:hover {
    background-color:  #63636342;
    text-decoration: underline;  
}
             /*main */

.imagem{
    margin-top: 70px;
    width: 99vw;
    height: 40vh;
}
.FACA {
    color: white;
    box-shadow: 1px 3px 10px white;
    margin-top: 20px;
    text-align: center;
    font-size: 45px;
}  

            /*produtos*/

.flex {
    margin-top: 60px;
    margin-left: 11vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-color: white;
    width: 78vw;
    height: auto;
    margin-bottom: 80px;
   
    
}
.flex img {
    
    width:100%;
    
}
.produtos2 {
   width: 250px;
   padding: 10px;
   margin:40px 10px 30px 10px;
   cursor: pointer;
   border-radius: 10px;
   background-color: white;
   transition: 1s;
}
.produtos2:hover {
    background-color: rgba(99, 98, 98, 0.432);
}
.produtos2 p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
}
.produtos2 h2 {
    text-align:left;
    margin-top:10px ;
    font-size: 30px;
    color: green;
}

.botao {
    
	background-color:#2a2e2b;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
    margin: 10px 10px 0px 10px;
	padding:15px 80px;
	text-decoration:none;
}
.botao:hover {
	background-color:#0a0a0a;
}
.botao:active {
	position:relative;
	top:1px;
}
.formas {
    
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgba(0, 0, 0, 0.274);
}
.formas img{
    width:250px ;
    
}
.contato {
    display: flex;
    justify-content: space-around;
    
   }

   .contato ul {
   list-style: none;
   }

   .contato li {
    display: inline-block;
    padding: 20px;
    margin: 50px 0px 50px 0px; 
   }

   .contato h4 {
    margin: 90px 0px 50px 0px; 
   }

   .contato2 p  {
    padding: 1px;
    margin: 1px;
   }

   .arrumar {
    padding: 5px;
    margin: 0;
}


.imgcontato1 img {
width: 30px;
}
.imgcontato1 img:hover {
    background-color: gray;

}

.img21{
    display: none;
}
