@charset "UTF-8";
                /* GERAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";
}

header {

grid-area: header;
}

main {
background: rgb(114, 87, 87);
grid-area: main;

background-image:url(./imagens/pexels-phil-desforges-3335697.jpg);
background-repeat:no-repeat;
background-color: transparent;
background-position: center center;
background-size:cover;

}

footer {
background: rgb(112, 112, 112);
grid-area: footer;
}


                /* redes socias */
div.redes {   
display: flex;
justify-content: space-around;
background-color:white;
}
.redes2 ul {
    background-color: white;
    margin: 0px;
}
.redes2 li{
    display: inline-block;  
    padding: 5px 5px 0px 5px;
    transition: 1s;
}
.redes2 li:hover {  
    cursor: pointer;
}
.face:hover{
    background-color:#3b5998;
}
.insta:hover{
    background-color: rgb(219, 155, 219);
}
.tw:hover {
    background-color:  #00acee;
}
.youtube:hover {
    background-color: #c4302b;
}

            /*atendimentos e minha conta */
.atend {
    
   margin: 0px;
}
.atend li{
    display: inline-block;
    padding: 10px 15px 4px 10px;
    transition: 0.7s;
}
.ut:hover { 
    cursor: pointer;
    color:rgb(255, 0, 0);
    background-color: white;
}
.fala:hover { 
    cursor: pointer;
    color:rgb(255, 0, 0);
    background-color: white;
}
.tudo {
    position: fixed;
}

            /* logo e botão é isso*/
section.logo {
    width: 99vw;
    height: 60px;
    background-color: rgb(31, 31, 31);
}

.logo img {
    width: 80px;
    padding-top: 10px;
    padding-left: 170px;
    border-radius: 10px 10px 10px 10px;
}
.busca{
   text-align: center;
    margin-top:-50px;  
}
#campo_busca{
    width: 40vw;
    height: 40px;
    
    border-radius: 5px 0px 0px 5px; 
    color:#252525;
}
.buscar_produto {
    width: 60px;
    height: 40px;
    margin: 0px 0px 0px -50px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid white;
}
.buscar_produto:hover {
    cursor: pointer;
    color: white;
    background-color: #252525;
}

                /*Menu*/
#Menu {
    margin-top: 6px;
    list-style: none;
    
    
}
#Menu ul {
    text-align: center;
    background-color: rgba(58, 57, 57, 0.692);
}
#Menu li {
    color: white;
    margin: 0px;
    display: inline-block;
    padding:16px 40px;
    transition: 0.7s;
    text-transform: uppercase;
    cursor: pointer;
}
a:link {
    text-decoration: none;
}
.hre {
    color: white;
    list-style: none;
}
#Menu li:hover {
    background-color:  #daa520;
    text-decoration: underline;  
}